html,
body,
iframe {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
}

* {
    box-sizing: border-box;
}

#main {
    height: 100%;
}
.scroll-container {
    display: flex;
    height: 100%;
    overflow: auto;
}
.scroll-inner {
    position: absolute;
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;
}
.source-title {
    text-align: center;
    font-size: 36px;
    margin: 0;
    padding: 40px 40px 0;
}
.source-title:after {
    content: '';
    display: block;
    border-top: solid 3px #fff;
    margin-top: 20px;
}
.column {
    display: flex;
    flex-direction: column;
}
.scroll {
    flex-grow: 1;
    flex-shrink: 0;
    width: 924px;
    /* width: 100%; */
    /* height: 100%; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    /* position: absolute; */
    overflow: hidden;
    position: relative;
}

.block {
    /* border: solid 1px #ddd; */
    position: absolute;
}

.pan {
    position: relative;
}

.articles {
    position: absolute;
    width: calc(100% - 80px);
    height: calc(100% - 80px);
    top: 40px;
    left: 40px;
    display: grid;
    grid-template-columns: minmax(33%, 12fr);
    grid-template-rows: minmax(100px, 9fr);
    grid-gap: 25px;
}
.article--text-columns .text {
    column-count: 2;
}
.article {
    /* position: absolute; */
    display: grid;
    grid-gap: 10px;
    grid-template-columns: minmax(33%, 2fr);
    grid-template-rows: minmax(150px, 1fr) 1fr;
    /* border: solid 1px #eee */
}

.article.article--wide {
    grid-template-rows: minmax(80px, 1fr);
}
.article--wide > * {
    grid-row: 1;
}

.article--wide-text .text {
    column-count: 2;
}
.article--ultra-wide-text .text {
    column-count: 3;
}
/*.article--tall.grid--two {
    grid-template-rows: minmax(50%, 1fr) minmax(50%, 1fr);
} */

.content {
    display: flex;
    flex-direction: column;
    line-height: 1.4;
    overflow: hidden;
    /* display: grid;
    grid-template-rows: 2fr; */
}

.article--tall .content {
    flex-direction: column;
}

.title {
    display: block;
    margin: 0 5px 5px 5px;
}

h1, h2, h3, h4, h5 {
    font-family: 'Crete Round', serif;
    margin: 0;
    font-weight: normal;
}
h2 {
    font-size: 24px;  
}
h3 { 
    font-size: 22px;
}

h4 { 
    font-size: 20px;
}
.text {
    font-size: 14px;
    padding: 5px;
    line-height: 1.6;
    opacity: 0.8;
}

a {
    color: inherit;
    text-decoration: none;
}

.image {
    overflow: hidden;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    box-shadow: 0 1px 2px rgba(0,0,0,0.4);
    border-radius: 3px;
    opacity: 0.9;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}