html,
body,
iframe {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

.scroll {
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    overflow: hidden;
}

.block {
    border: solid 1px #ddd;
    position: absolute;
}

.pan {
    position: relative;
}

.articles {
    position: absolute;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    top: 10px;
    left: 10px;
    display: grid;
    grid-template-columns: minmax(33%, 12fr);
    grid-template-rows: minmax(100px, 9fr);
    grid-gap: 10px;
}
.padding {
    padding: 10px;
}
.article {
    /* position: absolute; */
    display: grid;
    grid-gap: 10px;
    grid-template-columns: minmax(33%, 2fr);
    grid-template-rows: minmax(80px, 1fr);
    border: solid 1px #eee
}

.article--wide > * {
    grid-row: 1;
}
/*.article--tall.grid--two {
    grid-template-rows: minmax(50%, 1fr) minmax(50%, 1fr);
} */

.content {
    /* display: grid;
    grid-template-rows: 2fr; */
}

.article--wide .content {
    flex-direction: row;
}

.article--tall .content {
    flex-direction: column;
}

.title {
    display: block;
    margin-top: 0; 
}
h2 {
    font-size: 20px;  
    margin: 0 5px 5px 5px;
    overflow: hidden;    
}
h3 { 
    font-size: 16px;
    margin: 0 5px 5px 5px;
}
.text {
    font-size: 14px;
    padding: 5px;
    overflow: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

.image {
    overflow: hidden;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}